{% extends "account/base.html" %}
{% load i18n %}
{% block head_title %}
  {% trans "Signup" %}
{% endblock head_title %}
{% block content %}
  <div class="hero is-halfheight">
    <div class="hero-body is-justify-content-center is-align-items-center">
      <div class="columns is-desktop">
        <div class="column is-two-thirds">
          <h1 class="title is-1">Regístrate</h1>
          <h2 class="subtitle is-4">
            PLN en <b>español</b> detrás de un simple API.
          </h2>
          <p>
            Queremos que no tengas que preocuparte de toda la complejidad inherente al procesamiento del lenguaje natural y
            lo hacemos fácil para que puedas centrarte en tu negocio y tus clientes.
          </p>
        </div>
        <div class="column box">
          {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
              <div class="message is-danger">
                <div class="message-body">{{ error }}</div>
              </div>
            {% endfor %}
          {% endif %}
          <form class="signup" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {% for field in form %}
              {% if field.widget_type == 'checkbox' %}
                <div class="column">
                  <input type="{{ field.widget_type }}"
                         name="{{ field.name }}"
                         placeholder="{{ field.help_text }}"
                         autocomplete="{{ field.widget_type }}"
                         id="{{ field.id_for_label }}">
                  <label for="{{ field.id_for_label }}">Mantener la sesión activa</label>
                </div>
              {% else %}
                <div class="column">
                  <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                  <input class="input {% if field.errors %}is-danger{% else %}is-primary{% endif %}"
                         type="{{ field.widget_type }}"
                         name="{{ field.name }}"
                         placeholder="{{ field.help_text }}"
                         autocomplete="{{ field.widget_type }}"
                         required="{{ field.required }}"
                         id="{{ field.id_for_label }}">
                  {% if field.errors %}
                    {% for error in field.errors %}<p class="help is-danger">{{ error }}</p>{% endfor %}
                  {% endif %}
                </div>
              {% endif %}
            {% endfor %}
            {% if redirect_field_value %}
              <input type="hidden"
                     name="{{ redirect_field_name }}"
                     value="{{ redirect_field_value }}" />
            {% endif %}
            <div class="column">
              <button class="button is-primary is-fullwidth" type="submit">Regístrate</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
